.navbar-bbb {
font-family:"Satisfy", cursive;
}
.very-good{
font-family: 'Indie Flower', cursive;
}

.dark-theme{
background:red,'red';
}
.body-u {
  background-image: url("Search_123.png");
}


.site-footer { 	background: #9a9a9a; }

