        <!--detail   -->
<ul class="list-group"   style="overflow-y: scroll;">

            <div class="panel panel-default">
                <div class="panel-body">
                      <div class="body">
                    <div id="list-example" class="list-group">
                      <a class="list-group-item list-group-item-action" href="#list-item-1">COMPOSITION:</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-2">MECHANISM OF ACTION</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-3">INDICATIONS</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-4">USAGE</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-5">SIDE EFFECTS</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-6">CONTRAINDICATIONS</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-7">PRECAUTIONS</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-8">ABSORPTION</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-9">PRESENTATION</a>
                    </div>
                    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                        <h4 id="list-item-1">COMPOSITION</h4>
                        <p>Each 100g gel contains 2.5, 5 or 10g benzoyl peroxide base.

Each 100g lotion contains 5g benzoyl peroxide base.</p>
                        <h4 id="list-item-2">MECHANISM OF ACTIO</h4>
                        <p>Ben-Oxide has keratolytic properties, it activates blood circulation in the skin, therefore helps in removing keratoderma more rapidly.
Ben-Oxide has antibacterial activity especially against staphylococcus, this activity is due to release of active oxygen, which oxidize bacteria's proteins.
                            Ben-Oxide also reduces the ratio of free fatty acids in adipose secretion about 50% after two weeks of treatment, therefore prevents comedo formation</p>
                        <h4 id="list-item-3">INDICATIONS</h4>
                        <p>Ben-Oxide is indicated in treatment of acne vulgaris especially concomitant with inflammatory symptoms as pimples & saccules</p>
                        <h4 id="list-item-4">USAGE</h4>
                        <p>Ben-Oxide is applied at night, the affected areas should be washed with soap and then dried before application. At the first stage of treatment, mild feeling of burn erythroderma, and exfoliation may occur.
                            These symptoms will disappear after short time, so treatment must be continued.</p>
                        <h4 id="list-item-5">SIDE EFFECTS</h4>
                        <p>It may cause: Stinging effect, swelling, edema, sensitivity especially in individuals showing high sensitivity to sunlight.</p>
                        <h4 id="list-item-6">CONTRAINDICATIONS</h4>
                        <p>Hypersensitivity to one of the components.

</p>
                        <h4 id="list-item-7">PRECAUTIONS</h4>
                        <p>Avoid using the product near eyes or lips or mucous membranes.
Don’t use the product, if you have inflamed or broken skin.
Do not use the product during pregnancy or lactation or for children under 12 years old, unless the physician is consulted.
It causes discoloration of hair or fiber.
Avoid exposure to sunlight when Ben-Oxide is applied.</p>
                        <h4 id="list-item-8">ABSORPTION</h4>
                        <p>Ben-Oxide is metabolized to benzoic acid, then it converts to benzoate and it’s eliminated in urine.
                            There is no indication that Ben-Oxide has a toxic effect in body.</p>
                        <h4 id="list-item-9">PRESENTATION</h4>
                        <p>Ben-Oxide gel: carton pack contains tube of 30g of 2.5, 5, or 10%, with leaflet.
Ben-Oxide lotion: carton pack contains polyethylene bottle of 100ml of 5%, with leaflet.</p>
                    </div>
                </div>
            </div>
        </div>

    </ul>
